.modal-photo {
  box-sizing: border-box;
  width: 2.5rem;
  height: 2.5rem;
  border: 1px solid #e9eceb;
  border-radius: 26rem;
  margin-top: 0.5rem;
}

.modal_insentive-input {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0.5rem;
  gap: 0.5rem;
  width: 6.12rem;
  height: 2.18rem;
  background: #ffffff;
  border: 1px solid #8e8e92;
  border-radius: 0.25rem;
  margin-left: 0.8rem;
  margin-top: 0.5rem;
}

.modal_attribute {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 0.87rem;
  line-height: 1.06rem;
  color: #343435;
  margin-bottom: 0;
}

.modal_message-textarea
{
  margin-left: 0.7rem;
  display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0.5rem;
gap: 0.5rem;
width: 95%;
height: 100%;
border: 1px solid #8E8E92;
border-radius: 0.25rem;
margin-top: 0.5rem;
margin-bottom: 1rem;


}

.change-btn-color{
  color: #8E8E92;
}