.landingPage__mainheading {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 3rem;
  line-height: 3.375rem;
}

.landingPage__head-para {
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.5rem;
}

.landingPage__btn-p {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 1.12rem;
  line-height: 1.375rem;
}

.landingPage__mid-p {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.375rem;
}

.landingPage__p {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 130%;
}

.landingPage__head {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.6rem;
}

.landingPage__dyn-p {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.18rem;
}

.landingPage__result-btn {
  background: #ffffff;
  border: 2px solid #343435;
  border-radius: 3.15rem;
}
.acc-btn{
  margin-top: 5.87rem;
}

.notification_accepted_container {
  background: #ffffff;
  box-shadow: 0px 4px 10px rgba(46, 72, 87, 0.18);
  font-size: 14px;
  border-radius: 8px;
  padding: 0.75rem;
  margin-bottom: 1.5rem;
  width: 584px;
  height: 124px;
}

.notification_unaccepted_container {
  background: #ffffff;
  box-shadow: 0px 4px 10px rgba(46, 72, 87, 0.18);
  font-size: 14px;
  border-radius: 8px;
  padding: 0.75rem;
  margin-bottom: 1.5rem;
  width: 584px;
  height: 82px;
}

.hideLink {
  display: none;
}

.showLink {
  float: right;
}

.landing__scrollbar {
  height: 20rem;
  width: fit-content;
  overflow: scroll;
  background-color: #ffffff;
}

@media  (max-width:576px) {
  .acc-btn{
    margin-top: 1.8rem;
  }
  .result-btn{
    margin-bottom: 2rem;
  }
  
}



.scroll-bar{
 
  height: 350px;
  overflow: scroll;
  background-color: #ffffff;


}