#changePasswordHeading {
    font-family: "Lato";
    font-style: normal;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.625rem;
    color: #343435;
}

#changePasswordOuterDiv {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px 12px;
}

.inputPassword {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
}

